[alias]
  prune = fetch --prune
  cdiff = diff --cached
  st = status --short
  log1 = log --all --graph --decorate --oneline --abbrev-commit
  glog = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset'
  merge-branch = merge --log --no-commit --no-ff
  push-this = push origin HEAD
  fix-submodules = submodule update --recursive --init
  recursive = "!sh -c 'for i in . `git submodule foreach -q --recursive pwd`; do cd $i && git $@; done' -"
  recursive-sh = "!sh -c 'for i in . `git submodule foreach -q --recursive pwd`; do cd $i && $@; done' -"

  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[branch]
 sort = -committerdate

[color]
	diff = auto
	status = auto
	branch = auto

[diff]
  tool = icdiff
	submodule = log

[difftool]
  prompt = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[merge]
	tool = vimdiff

[push]
  followTags = true

[user]
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDoRMmM58DFrIAa2WrIqBkp45RvRKJbtpAWvhs9eiqojGsd2w1hRxqqyOIYlrDOOX6eMnIKw21xkP97lgCj/BlKD9Fnw1W8nHfW2vR4d+dXycJSqyP2x6CYvdYYolHC/s4q2Glw97yqiZK0SvW4qoePcMtsv88Fpv88MBsrpGX67sY5dzGVCzv2AClxWqaGLZzwrUYFqwVFIMDcODRmydh5EJ6g15ck1LFjUSeSX9uSq/Hop45hqLyXMo+fp72L3P7yPmZ/fvr5F+o4gdeVwgAQKcQVqNyX/GsPpLwbmgNTL2rs+hAR/dZdMJf9gMjxBVMzmJRYCG5WhbnFLV9rXbwu89ePqTMIa2MykLAozGLgz4f4LUEyjDBl6CF4K0vANesqo2rI9bZUZR7vRIcYyaXWYtHopFCJO4qyyRM+eMaGnVq05GRVU9XL0h8MkabSlpqW8z5lNxuvlLHlPX7wcFjWJltKtLEJgc8nV7Ka6g2VPRz6zZ14kYwaHQDrvsF+T5dZqupiV1RViC0fvw1Tz0tbe8Oi2luLHDAt89/Aj30WxtxxeANiPb71mgakpwpDewanjiDvKkwccWvaDGrxd+MWfKSMTvkBcH1pTy7vmZDjkRi+H80kuhSFPoXnh5UiTDXygrj2wC6p1lRdu68QeOfqFJpThwrEwCEnpUM1bbj7wQ==
	name = Pavel L.
	email = n19ht3r@gmail.com

[commit]
	gpgSign = true

[gpg]
  format = ssh
	program = gpg

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[includeIf "gitdir:~/Projects/walli/"]
  path = ~/Projects/walli/.gitconfig

[includeIf "gitdir:~/Projects/wildberries/"]
  path = ~/Projects/wildberries/.gitconfig

[includeIf "gitdir:~/Projects/wildberries/gitlab.wildberries.ru/"]
  path = ~/Projects/wildberries/gitlab.wildberries.ru/.gitconfig

[core]
	excludesFile = ~/.config/git/ignore
	autocrlf = input

[init]
	defaultBranch = master

[pull]
	rebase = true

[hub]
	protocol = ssh

[rerere]
	enabled = true

